<form action="/payment/results">
  <label for="APR">APR</label>
  <input id="APR" type="text" 
  placeholder="E.g. 5.42" name="apr">

  <div><label for="Number of years">Number of years</label>
  <input id="Number of years" type="text" 
  placeholder="How many years to repay?" name="yrs"></div>

  <div><label for="Principal">Principal</label>
  <input id="Principal" type="text" 
  placeholder="How much principal?" name="pri"></div>
<div><button>Calculate monthly payment</button></div>
</form>

